$squad_anim: cubic-bezier(0.5, 1, 0.89, 1);
@keyframes guideHover {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}