.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba($color: #031622, $alpha: .6);
    &:focus {
        outline: none;
    }
}