* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}

*::after,
*::before {
    box-sizing: border-box;
}

ul{
    padding:0px;
}

.container {
    min-width: 1170px;
    margin: 0 auto;
}

@import "modal";
@import "map";
@import "modals";
@import "cover";
@import "buttons";
@import "animation";
@import "scroll";
@import "markers";
@import "slide_menu";