@keyframes guideHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cover__menu {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cover__satellite:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__guide:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__guide-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__guide-button:hover .cover__guide-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__guide-button_image {
  width: 30px;
  height: 30px;
}

.cover__guide-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-info {
  padding: 20px 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 10px rgba(3, 22, 34, 0.6);
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(200%);
  z-index: 2;
}

.cover__guide-info_active {
  transform: translateY(200%);
}

.cover__guide-info-title {
  font-size: 40px;
  font-weight: 700;
  color: rgba(34, 47, 62, 0.8);
}

.cover__guide-info-description {
  font-size: 20px;
  position: relative;
}

.cover__guide-info-description::before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #2ecc71;
}

.cover__guide-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__address:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__address-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__address-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__address-button:hover .cover__address-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__address-button_image {
  width: 30px;
  height: 30px;
}

.cover__address-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-wrapper {
  display: table;
}

.cover__filter-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-button:hover {
  min-width: 120px;
  background: linear-gradient(270deg, #10ac84, #222f3e);
  background-size: 400% 400%;
  animation: guideHover 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__filter-button:hover .cover__filter-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__filter-button_image {
  width: 30px;
  height: 30px;
}

.cover__filter-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-menu, .cover__filter-submenu {
  padding: 10px 0 0;
  min-width: 250px;
  min-height: 250px;
  list-style-type: none;
  position: fixed;
  top: 70px;
  right: 120px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateX(200%);
  z-index: 1;
}

.cover__filter-menu_active, .cover__filter-submenu_active {
  transform: translateX(0%);
}

.cover__filter-menu-btn, .cover__filter-submenu-btn {
  margin: 0 auto;
  margin-top: 70px;
  min-width: 100%;
  min-height: 60px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 50px !important;
  background-color: #27ae60;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 10;
}

.cover__filter-menu-btn:hover, .cover__filter-submenu-btn:hover {
  background-color: rgba(39, 174, 96, 0.8);
}

.cover__filter-menu_item, .cover__filter-submenu_item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: black;
  cursor: pointer;
}

.cover__filter-menu_item-name, .cover__filter-submenu_item-name {
  margin: 0;
  margin-right: 5px;
}

.cover__filter-menu_item-check, .cover__filter-submenu_item-check {
  margin: 10px;
  border-radius: 20px;
}

.cover__filter-submenu {
  display: none !important;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(0);
  width: 410px;
  min-height: 260px;
  z-index: 0;
}

.cover__filter-submenu_item {
  min-width: 40px;
}

.cover__filter-submenu-name {
  margin: 0;
  margin-right: 5px;
}

.cover__filter-submenu-check {
  margin: 0;
}

.slide-btn {
  width: 60px;
  height: 60px;
  border-radius: 0 !important;
  position: fixed;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  overflow: visible !important;
}

.slide-btn-image {
  width: 50%;
  height: 50%;
}
