.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  transform: translate(20%, -50%) scale(1);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  background-color: white;
  box-shadow: 2px 2px 10px rgba(26, 188, 156, 0.7);
  overflow: hidden;
  z-index: 2;
}

.modal__tabs-menu {
  display: flex;
  border: 1px solid rgba(26, 188, 156, 0.5);
  justify-content: space-between;
}

.modal__tabs-item {
  display: flex;
  padding: 10px;
  justify-content: center;
  position: relative;
  width: 25%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.modal__tabs-item::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(26, 188, 156, 0.5);
  transition: all 0.1s cubic-bezier(0.85, 0, 0.15, 1);
  z-index: -1;
}

.modal__tabs-item:hover {
  color: white;
}

.modal__tabs-item:hover::after {
  width: 100%;
}

.modal__information {
  display: flex;
  width: 100%;
}

.modal__information-active {
  display: none;
  transform: translate(110%);
  position: absolute;
  left: 500px;
}

.modal__content {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.modal__content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.modal__content-disable {
  transform: translate(-110%);
  position: absolute;
}

.modal__close {
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  top: 10px;
  width: 25px;
  height: 25px;
  z-index: 10;
  color: white;
}

.modal__close:hover {
  background-color: rgba(26, 188, 156, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  cursor: pointer;
}

.modal-active {
  transform: translate(150%, -50%) scale(0);
}

.modal-active_reverse {
  transform: translate(-150%, -50%) scale(0);
}

.modal__wrapper {
  display: flex;
  justify-content: space-between;
}

.modal__list {
  display: flex;
  padding: 5px;
  flex-direction: column;
  height: 330px;
  overflow: scroll;
}

.modal__list-container {
  padding: 0px 10px;
  display: flex;
  margin: 20px 0px;
  width: 100%;
}

.modal__list-container:hover .modal__list-img {
  width: 14%;
  margin-right: 1%;
}

.modal__list-btn {
  width: 100%;
  height: 50px;
  color: #1abc9c;
  font-weight: 500;
  border: 2px solid rgba(26, 188, 156, 0.6) !important;
  background-color: transparent;
  box-shadow: none !important;
  position: relative;
  padding: 0px !important;
}

.modal__list-btn::before {
  content: '';
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background-color: #1abc9c;
  transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
  z-index: -1;
  left: 0px;
  position: absolute;
}

.modal__list-btn:hover {
  color: white;
}

.modal__list-btn:hover::before {
  left: 0px;
  width: 100%;
}

.modal__list-img {
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  display: flex;
  width: 0%;
  height: 50px;
}

.modal__list-img img {
  border-radius: 100%;
  width: 90%;
  height: 100%;
}

.modal__title {
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0 auto;
  background-color: #1abc9c;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

.modal__title p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.modal__label {
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
}

.modal__descr {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.modal__descr div {
  width: 50px;
  height: 50px;
}

.modal__descr img {
  width: 100%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.modal__descr p {
  margin-top: 10px;
  padding: 10px;
}

.active_close {
  display: none;
}

.active_close-active {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
