@charset "UTF-8";
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 1170px;
  margin: 0 auto;
}

.agriculture {
  position: relative;
}

.agriculture__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.agriculture__map {
  min-width: 100%;
  max-height: 100vh;
}

.agriculture__map-frame {
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

@keyframes guideHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cover__menu {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cover__guide:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__guide-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__guide-button:hover .cover__guide-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__guide-button_image {
  width: 30px;
  height: 30px;
}

.cover__guide-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-info {
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: white;
  width: 200px;
  height: 400px;
  box-shadow: 2px 2px 10px rgba(3, 22, 34, 0.6);
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-200%);
}

.cover__guide-info_active {
  transform: translateY(0);
}

.cover__guide-info-title {
  font-size: 18px;
  font-weight: 700;
}

.cover__guide-info-description {
  font-size: 16px;
}

.cover__address:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__address-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__address-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__address-button:hover .cover__address-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__address-button_image {
  width: 30px;
  height: 30px;
}

.cover__address-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-button:hover {
  min-width: 120px;
  background: linear-gradient(270deg, #10ac84, #222f3e);
  background-size: 400% 400%;
  animation: guideHover 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__filter-button:hover .cover__filter-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__filter-button_image {
  width: 30px;
  height: 30px;
}

.cover__filter-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-menu {
  padding: 10px;
  padding-bottom: 30px;
  min-width: 250px;
  min-height: 250px;
  list-style-type: none;
  position: absolute;
  top: 70px;
  right: 120px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.cover__filter-menu-btn {
  min-width: 150px;
  min-height: 40px;
  padding: 10px;
  font-size: 14px;
  color: white;
  top: 305px;
  right: 175px;
  position: absolute;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 10;
}

.cover__filter-menu_item {
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  cursor: pointer;
}

.cover__filter-menu_item-name {
  margin: 0;
  margin-right: 5px;
}

.cover__filter-menu_item-check {
  margin: 0;
}

.cover__filter-menu_active {
  transform: translateX(0);
}

.info {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(3, 22, 34, 0.6);
}

.button:focus {
  outline: none;
}

@keyframes guideHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(46, 204, 113, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
}

#apple,
#apricots,
#barley,
#beans,
#beetroot,
#cherries,
#corn,
#cotton,
#currants,
#pear,
#grapes,
#hay,
#peach,
#potatoes,
#raspberry,
#rice,
#sugar-beet,
#sunflower,
#vegetables,
#watermelons,
#wheat {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation: markerAnim 2s ease infinite;
}

#apple:hover::before,
#apricots:hover::before,
#barley:hover::before,
#beans:hover::before,
#beetroot:hover::before,
#cherries:hover::before,
#corn:hover::before,
#cotton:hover::before,
#currants:hover::before,
#pear:hover::before,
#grapes:hover::before,
#hay:hover::before,
#peach:hover::before,
#potatoes:hover::before,
#raspberry:hover::before,
#rice:hover::before,
#sugar-beet:hover::before,
#sunflower:hover::before,
#vegetables:hover::before,
#watermelons:hover::before,
#wheat:hover::before {
  background: #000;
  border-radius: 2px;
  color: #fff;
  content: 'яблоко';
  font-size: 14px;
  padding: 6px 10px;
  top: -40px;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
}

#apple:hover::after,
#apricots:hover::after,
#barley:hover::after,
#beans:hover::after,
#beetroot:hover::after,
#cherries:hover::after,
#corn:hover::after,
#cotton:hover::after,
#currants:hover::after,
#pear:hover::after,
#grapes:hover::after,
#hay:hover::after,
#peach:hover::after,
#potatoes:hover::after,
#raspberry:hover::after,
#rice:hover::after,
#sugar-beet:hover::after,
#sunflower:hover::after,
#vegetables:hover::after,
#watermelons:hover::after,
#wheat:hover::after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid #2ecc71;
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
}

#apple {
  background-image: url("../icons/markers/apple.png");
}

#apricots {
  background-image: url("../icons/markers/apricot.png");
}

#barley {
  background-image: url("../icons/markers/barley.jpg");
}

#beans {
  background-image: url("../icons/markers/beans.jpg");
}

#beetroot {
  background-image: url("../icons/markers/beetroot.jpg");
}

#cherries {
  background-image: url("../icons/markers/cherries.jpg");
}

#corn {
  background-image: url("../icons/markers/corn.jpg");
}

#cotton {
  background-image: url("../icons/markers/cotton.jpg");
}

#currants {
  background-image: url("../icons/markers/currants.jpg");
}

#pear {
  background-image: url("../icons/markers/pear.jpg");
}

#grapes {
  background-image: url("../icons/markers/grapes.jpg");
}

#hay {
  background-image: url("../icons/markers/hay.jpg");
}

#peach {
  background-image: url("../icons/markers/peach.jpg");
}

#potatoes {
  background-image: url("../icons/markers/potatoes.jpg");
}

#raspberry {
  background-image: url("../icons/markers/raspberry.jpg");
}

#rice {
  background-image: url("../icons/markers/rice.jpg");
}

#sugar-beet {
  background-image: url("../icons/markers/sugar-beet.jpg");
}

#sunflower {
  background-image: url("../icons/markers/sunflower.jpg");
}

#vegetables {
  background-image: url("../icons/markers/vegetables.jpg");
}

#watermelons {
  background-image: url("../icons/markers/watermelons.jpg");
}

#wheat {
  background-image: url("../icons/markers/wheat.jpg");
}

@keyframes markerAnim {
  0%,
  100% {
    box-shadow: 0px 0px 20px #2ecc71;
  }
  50% {
    box-shadow: 0px 0px 0px #2ecc71;
  }
}
