* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0px;
}

.container {
  min-width: 1170px;
  margin: 0 auto;
}

.agriculture {
  position: relative;
}

.agriculture__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.agriculture__map {
  min-width: 100%;
  max-height: 100vh;
}

.agriculture__map-frame {
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  padding: 10px;
  transform: translate(20%, -50%) scale(1);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  background-color: white;
  box-shadow: 2px 2px 10px rgba(26, 188, 156, 0.7);
  border: 2px solid #1abc9c;
}

.modal__close {
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.modal__close:hover {
  background-color: rgba(26, 188, 156, 0.5);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.modal-active {
  transform: translate(150%, -50%) scale(0);
}

.modal-active_reverse {
  transform: translate(-150%, -50%) scale(0);
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
}

.modal__title {
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.modal__title::after {
  content: '';
  position: absolute;
  width: 70%;
  height: .5px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
}

.modal__label {
  margin-top: 30px;
  font-weight: bold;
}

.modal__descr {
  position: relative;
  margin-top: 5px;
}

.modal__descr::after {
  content: '';
  position: absolute;
  width: 50%;
  height: .5px;
  top: 120%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: gray;
}

@keyframes guideHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cover__menu {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cover__satellite:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__guide:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__guide-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__guide-button:hover .cover__guide-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__guide-button_image {
  width: 30px;
  height: 30px;
}

.cover__guide-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__guide-info {
  padding: 20px 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 10px rgba(3, 22, 34, 0.6);
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(200%);
  z-index: 2;
}

.cover__guide-info_active {
  transform: translateY(200%);
}

.cover__guide-info-title {
  font-size: 40px;
  font-weight: 700;
  color: rgba(34, 47, 62, 0.8);
}

.cover__guide-info-description {
  font-size: 20px;
  position: relative;
}

.cover__guide-info-description::before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #2ecc71;
}

.cover__guide-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__address:nth-child(1n+1) {
  margin-left: 10px;
}

.cover__address-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__address-button:hover {
  min-width: 170px;
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
  background-size: 400% 400%;
  animation: guideHover 2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__address-button:hover .cover__address-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__address-button_image {
  width: 30px;
  height: 30px;
}

.cover__address-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-wrapper {
  display: table;
}

.cover__filter-button {
  padding: 10px;
  min-width: 50px;
  min-height: 40px;
  font-size: 14px;
  color: white;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-button:hover {
  min-width: 120px;
  background: linear-gradient(270deg, #10ac84, #222f3e);
  background-size: 400% 400%;
  animation: guideHover 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.cover__filter-button:hover .cover__filter-button_text {
  font-size: 16px;
  margin-left: 5px;
}

.cover__filter-button_image {
  width: 30px;
  height: 30px;
}

.cover__filter-button_text {
  margin-left: 0;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

.cover__filter-menu, .cover__filter-submenu {
  padding: 10px 0 0;
  min-width: 250px;
  min-height: 250px;
  list-style-type: none;
  position: fixed;
  top: 70px;
  right: 120px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  transform: translateX(200%);
  z-index: 1;
}

.cover__filter-menu_active, .cover__filter-submenu_active {
  transform: translateX(0%);
}

.cover__filter-menu-btn, .cover__filter-submenu-btn {
  margin: 0 auto;
  margin-top: 20px;
  min-width: 100%;
  min-height: 40px;
  padding: 10px;
  font-size: 14px;
  color: white;
  border-radius: 0 !important;
  background-color: #27ae60;
  transition: min-width 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 10;
}

.cover__filter-menu_item, .cover__filter-submenu_item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: black;
  cursor: pointer;
}

.cover__filter-menu_item-name, .cover__filter-submenu_item-name {
  margin: 0;
  margin-right: 5px;
}

.cover__filter-menu_item-check, .cover__filter-submenu_item-check {
  margin: 0;
}

.cover__filter-submenu {
  display: none !important;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(0);
  width: 410px;
  min-height: 260px;
  z-index: 0;
}

.cover__filter-submenu_item {
  min-width: 40px;
}

.cover__filter-submenu-name {
  margin: 0;
  margin-right: 5px;
}

.cover__filter-submenu-check {
  margin: 0;
}

.info {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-btn {
  width: 60px;
  height: 60px;
  border-radius: 0 !important;
  position: fixed;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  overflow: visible !important;
}

.slide-btn-image {
  width: 50%;
  height: 50%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(3, 22, 34, 0.6);
}

.button:focus {
  outline: none;
}

@keyframes guideHover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(46, 204, 113, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #2ecc71, #1abc9c);
}

#apple,
#apricots,
#barley,
#beans,
#beetroot,
#cherries,
#corn,
#cotton,
#currants,
#pear,
#grapes,
#hay,
#peach,
#potatoes,
#raspberry,
#rice,
#sugar-beet,
#sunflower,
#vegetables,
#watermelons,
#wheat {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation: markerAnim 2s ease infinite;
}

#apple {
  background-image: url("../icons/markers/apple.png");
}

#apricots {
  background-image: url("../icons/markers/apricot.png");
}

#barley {
  background-image: url("../icons/markers/barley.jpg");
}

#beans {
  background-image: url("../icons/markers/beans.jpg");
}

#beetroot {
  background-image: url("../icons/markers/beetroot.jpg");
}

#cherries {
  background-image: url("../icons/markers/cherries.jpg");
}

#corn {
  background-image: url("../icons/markers/corn.jpg");
}

#cotton {
  background-image: url("../icons/markers/cotton.jpg");
}

#currants {
  background-image: url("../icons/markers/currants.jpg");
}

#pear {
  background-image: url("../icons/markers/pear.jpg");
}

#grapes {
  background-image: url("../icons/markers/grapes.jpg");
}

#hay {
  background-image: url("../icons/markers/hay.jpg");
}

#peach {
  background-image: url("../icons/markers/peach.jpg");
}

#potatoes {
  background-image: url("../icons/markers/potatoes.jpg");
}

#raspberry {
  background-image: url("../icons/markers/raspberry.jpg");
}

#rice {
  background-image: url("../icons/markers/rice.jpg");
}

#sugar-beet {
  background-image: url("../icons/markers/sugar-beet.jpg");
}

#sunflower {
  background-image: url("../icons/markers/sunflower.jpg");
}

#vegetables {
  background-image: url("../icons/markers/vegetables.jpg");
}

#watermelons {
  background-image: url("../icons/markers/watermelons.jpg");
}

#wheat {
  background-image: url("../icons/markers/wheat.jpg");
}

@keyframes markerAnim {
  0%,
  100% {
    box-shadow: 0px 0px 20px #2ecc71;
  }
  50% {
    box-shadow: 0px 0px 0px #2ecc71;
  }
}

.slide__info {
  width: 20%;
  min-height: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 2px 0px 20px black;
  top: 0px;
  transform: translate(-150%);
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

.slide__info_items {
  width: 100%;
}

.slide__list {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.slide__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.slide__list-item:hover {
  background-color: #3F55D3;
}

.slide__list-item img {
  width: 50%;
  height: 50%;
}

.deactivate {
  transform: translate(-150%);
}

.activate {
  transform: translate(0%);
}

.menu__btn {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.menu__btn-icon {
  width: 100%;
  height: 100%;
}
